<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKJG-rcCg7P7WuUocpXU3y3xPQYuTUCVU</string>
	<key>GCM_SENDER_ID</key>
	<string>911552448612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebaseApp.AuthApp</string>
	<key>PROJECT_ID</key>
	<string>authapp-8405e</string>
	<key>STORAGE_BUCKET</key>
	<string>authapp-8405e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911552448612:ios:897185626ad9e96f90f771</string>
</dict>
</plist>